table{
    background-color: yellow;
    border: 2px dotted;
    border-collapse: collapse;
}

td{
    border: 2px dotted;
    font-size: 25px;
}

.title{
    border: none;
    color: red;
    text-align: center;
}

b{
    font-size: 30px;
}

.bottom{
    border-bottom:  2px red dashed ;
}